_src_path: "[[ _copier_conf.src_path ]]"
_commit: "[[ _copier_conf.vcs_ref ]]"
project_name: "[[ project_name ]]"
distribution_name: "[[ distribution_name ]]"
package_name: "[[ package_name ]]"
project_description: "[[ project_description ]]"
author_name: "[[ author_name ]]"
author_email: "[[ author_email ]]"
github_owner: "[[ github_owner ]]"
github_repository: "[[ github_repository ]]"
include_cli: [[ include_cli | lower ]]
include_docker: [[ include_docker | lower ]]
include_docs: [[ include_docs | lower ]]
include_release: [[ include_release | lower ]]
