import [[ package_name ]]


def test_version() -> None:
    assert [[ package_name ]].__version__ == "0.1.0"


def test_greet() -> None:
    assert [[ package_name ]].greet("World") == "Hello, World!"
